<table>
    <tbody class="mcnTextBlockOuter">
      <tr>
       <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
            <tbody>
              <tr>
                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 125%;">
                  <div style="text-align: left;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:20px">
                        Hi,
                      </span><br><br>
                      <span style="font-size:15px">
                        Subject: <%= subject %>
                      </span><br><br>
                      <span style="font-size:15px">
                        Email: <%= email %>
                      </span><br><br>
                      <span style="font-size:15px">
                        Category: <%= categoryName %>
                      </span><br><br>
                      <span style="font-size:15px">
                        Message: <%= message %>
                      </span>
                    </span><br><br>

                   



                  </div>
                </td>
              </tr>
             </tbody>
          </table>
        </td>
        </tr>
      </tbody>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
          <tr>
              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody><tr>

                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 200%;">

                              <div style="text-align: left;"><span style="color:#e31c23"></span><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:20px">Team Dimitra</span></span></div>

                          </td>
                      </tr>
                  </tbody></table>
              </td>
          </tr>
      </tbody>
  </table>
