<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso de Términos y Condiciones de Dimitra</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1,
        h2 {
            color: #333;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        li {
            list-style-type: decimal;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Términos y condiciones de las aplicaciones de software agrícola de Dimitra</h1>

    <p>
        Bienvenido a las aplicaciones de software agrícola de Dimitra. Al registrarse y utilizar nuestras aplicaciones, usted acepta los siguientes términos y condiciones:

    <ul>
        <li>
            <strong>Recopilación de información: </strong> Dimitra recopila información personal de sus usuarios, incluidos, entre otros, datos de geocercas y detalles sobre actividades agrícolas. Esta información es esencial para proporcionar servicios personalizados y mejorar la experiencia del usuario.
        </li>
        <li>
            <strong>Uso de la información:</strong> La información recopilada se utilizará para respaldar sus operaciones agrícolas y mejorar nuestros servicios. Dimitra también puede utilizar estos datos con fines de investigación y desarrollo para mejorar la funcionalidad y la eficiencia de nuestras aplicaciones.
        </li>
        <li>
            <strong>Intercambio de datos y privacidad:</strong>  Dimitra respeta su privacidad. No compartiremos su información personal con terceros sin su consentimiento, excepto cuando lo exija la ley o según sea necesario para brindarle nuestros servicios. Consulte nuestra Política de privacidad para obtener más detalles sobre cómo manejamos sus datos.
        </li>
        <li>
           <strong> Seguridad de los datos:</strong> Nos comprometemos a proteger la seguridad de su información personal. Dimitra emplea varias tecnologías y medidas de seguridad para garantizar la seguridad de sus datos. Sin embargo, ningún sistema puede ser completamente seguro y no podemos garantizar la seguridad absoluta de su información.
        </li>

        <li>
            <strong>Responsabilidades del usuario:</strong> Como usuario, usted es responsable de la exactitud de la información que proporciona. Debe utilizar nuestras aplicaciones de conformidad con todas las leyes locales, estatales, nacionales e internacionales aplicables.
        </li>
        <li>
            <strong>Limitación de responsabilidad:</strong> Dimitra no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar nuestros servicios, incluidos los daños por pérdida de beneficios, datos u otros intangibles, incluso si hemos sido advertidos de la posibilidad de dichos daños.
        </li>
        <li>
            <strong>Modificaciones de los Términos:</strong> Dimitra se reserva el derecho de modificar estos términos y condiciones en cualquier momento. El uso continuado de nuestras aplicaciones después de dichos cambios, constituye su aceptación de los nuevos términos.
        </li>
        <li>
            <strong>Ley aplicable:</strong> Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes de la jurisdicción en la que opera Dimitra, sin dar efecto a ningún principio de conflicto de leyes.
        </li>
    </ul>
    </p>

    <p>
        Al utilizar las Aplicaciones de Software Agrícola de Dimitra, usted reconoce que ha leído, entendido y acepta estar sujeto a estos términos y condiciones.
    </p>
</body>

</html>