<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termos e Condições Dimitra</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1,
        h2 {
            color: #333;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        li {
            list-style-type: decimal;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <h1>Termos e Condições para Aplicativos de Software Agrícola da Dimitra</h1>

    <p>
        Bem-vindo aos Aplicativos de Software Agrícola da Dimitra. Ao se registrar e usar nossos aplicativos, você concorda com os seguintes termos e condições:

    <ul>
        <li>
            <strong>Coleta de Informações:</strong> A Dimitra coleta informações pessoais dos seus usuários, incluindo, mas não se limitando a, dados de geofencing e detalhes sobre atividades agrícolas. Essas informações são essenciais para fornecer serviços personalizados e melhorar a experiência do usuário.
        </li>
        <li>
            <strong>Coleta de Informações:</strong> A Dimitra coleta informações pessoais dos seus usuários, incluindo, mas não se limitando a, dados de geofencing e detalhes sobre atividades agrícolas. Essas informações são essenciais para fornecer serviços personalizados e melhorar a experiência do usuário.
        </li>
        <li>
            <strong>Uso das Informações:</strong> As informações coletadas serão usadas para apoiar suas operações agrícolas e melhorar nossos serviços. A Dimitra também pode usar esses dados para fins de pesquisa e desenvolvimento, a fim de melhorar a funcionalidade e a eficiência de nossos aplicativos.
        </li>
        <li>
            <strong>Compartilhamento de Dados e Privacidade:</strong> A Dimitra respeita sua privacidade. Não compartilharemos suas informações pessoais com terceiros sem seu consentimento, exceto conforme exigido por lei ou conforme necessário para fornecer nossos serviços a você. Consulte nossa Política de Privacidade para mais detalhes sobre como lidamos com seus dados.
        </li>
        <li>
            <strong>Uso das Informações:</strong> As informações coletadas serão usadas para apoiar suas operações agrícolas e melhorar nossos serviços. A Dimitra também pode usar esses dados para fins de pesquisa e desenvolvimento, a fim de melhorar a funcionalidade e a eficiência de nossos aplicativos.
        </li>
        <li>
            <strong>Segurança dos Dados:</strong> Estamos comprometidos em proteger a segurança de suas informações pessoais. A Dimitra emprega várias tecnologias e medidas de segurança para garantir a segurança de seus dados. No entanto, nenhum sistema pode ser completamente seguro, e não podemos garantir a segurança absoluta de suas informações.
        </li>
        <li>
            <strong>Responsabilidades do Usuário:</strong> Como usuário, você é responsável pela precisão das informações que fornece. Você deve usar nossos aplicativos em conformidade com todas as leis locais, estaduais, nacionais e internacionais aplicáveis.
        </li>
        <li>
            <strong>Limitação de Responsabilidade:</strong> A Dimitra não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar nossos serviços, incluindo danos por perda de lucros, dados ou outros intangíveis, mesmo que tenhamos sido avisados da possibilidade de tais danos.
        </li>
        <li>
            <strong>Alterações aos Termos:</strong> A Dimitra reserva-se o direito de modificar estes termos e condições a qualquer momento. Seu uso continuado de nossos aplicativos após tais mudanças constitui sua aceitação dos novos termos.
        </li>
        <li>
            <strong>Legislação Aplicável:</strong> Estes termos e condições serão regidos e interpretados de acordo com as leis da jurisdição em que a Dimitra opera, sem dar efeito a quaisquer princípios de conflitos de leis.
        </li>
    </ul>
    </p>

    <p>
        Ao usar os Aplicativos de Software Agrícola da Dimitra, você reconhece que leu, entendeu e concorda em cumprir estes termos e condições.
    </p>
</body>

</html>