node_modules
activity_log*
build
npm-debug.log
.env
.DS_Store
.vscode
**configMap.yaml
activity_log*
assets/files
.vscode*
/.vscode*
vscode*
launchOptions
*.vscode*
*launch.json*
launch.json
release-merge.yml
*release-merge.yml*
.eslintrc.json
__tests__
dimitra-82a9a-firebase-adminsdk-l61bm-1d5d6c036a.json
dimitra-82a9a-firebase-adminsdk-l61bm-a0069f9547.json
dimitrapushnotifications-firebase-adminsdk-1pdz0-488c8b450e.json
google_sheets_credentials.json
Dockerfile
Dockerfile-ubuntu
gulpfile.js
jest.config.js
logger_config.js
README.md
skaffold.yaml
swagger-config.js
tsconfig.json
.dockerignore
.sequelizerc
.env copy
helpers/qr_code.js