<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Land Suitability List
  </title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Lato', sans-serif;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <div id="responseDetailRows" style="padding: 16px;">
    <div>
      <table>
        <tr>
          <th>Operator Name</th>
          <th>Farm Name</th>
          <th>Country</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Issued Date</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <td><%= data[i].operatorName %> </td>
            <td><%= data[i].farmName %></td>
            <td><%= data[i].country %></td>
            <td><%= data[i].latitude %></td>
            <td><%= data[i].longitude %></td>
            <td><%= data[i].issuedDate %></td>
          </tr>
        <% } %>
      </table>
          
    </div>
  </div>
</body>
</html>