<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso de Privacidad de Dimitra</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
      }

      h1,
      h2 {
        color: #333;
      }

      p {
        margin-bottom: 15px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Aviso de Privacidad de Dimitra</h1>

    <h2>Identidad y Detalles de Contacto de la Organización:</h2>
    <p>
      Organización: Dimitra (BVI) Incorporated, Tortola, Islas Vírgenes
      Británicas
      <br />
      Representante: Peter Thorsteinson, Oficial Principal de Protección de
      Datos <br />
      Correo de Contacto:
      <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>
    </p>

    <h2>
      Finalidad y base jurídica del tratamiento de datos personales por parte de
      la organización:
    </h2>
    <p>
      Dimitra (BVI) Incorporated procesa sus datos personales para mejorar su
      experiencia con nuestras aplicaciones de software y brindar servicios
      personalizados. Este procesamiento se basa en su consentimiento y es
      necesario para la ejecución de un contrato con Dimitra del cual usted es
      parte.
    </p>

    <h2>Intereses Legítimos de la Organización:</h2>
    <p>
      Nuestros intereses legítimos incluyen mejorar nuestros servicios, prevenir
      fraudes y garantizar la seguridad de la red y la información. Cuando
      corresponda, también podemos procesar datos por los intereses legítimos de
      terceros, como nuestros socios comerciales o gobiernos.
    </p>

    <h2>Destinatarios de los datos de las personas físicas:</h2>
    <p>Sus datos pueden ser compartidos con:</p>

    <ul>
      <li>
        Proveedores de servicios y socios que ayudan con nuestras operaciones
        comerciales.
      </li>
      <li>Autoridades legales cuando lo exija la ley.</li>
    </ul>

    <h2>Transferencia de Datos Individuales a Terceros Países:</h2>
    <p>
      Los datos personales pueden transferirse a países fuera de su
      jurisdicción. Nos aseguramos de que dichas transferencias estén sujetas a
      garantías adecuadas, como cláusulas contractuales estándar según las
      especificaciones relevantes de la Comisión de la UE.
    </p>

    <h2>Periodo de Retención de Datos:</h2>
    <p>
      Sus datos se retienen mientras sea necesario para cumplir con los
      propósitos descritos en este aviso o hasta que retire su consentimiento.
      Los criterios para determinar el período de retención incluyen la duración
      de su relación con nosotros y las obligaciones legales asociadas.
    </p>

    <h2>Derechos del Titular de los Datos:</h2>
    <p>
      Usted tiene el derecho de acceder, rectificar, suprimir, limitar el
      procesamiento de sus datos, oponerse al procesamiento y solicitar la
      portabilidad de datos. También tiene el derecho de no estar sujeto a
      decisiones automatizadas basadas en sus datos personales.
    </p>

    <h2>Derecho de Retirar el Consentimiento:</h2>
    <p>
      Puede retirar su consentimiento en cualquier momento, sin afectar la
      legalidad del procesamiento basado en el consentimiento antes de su
      retiro.
    </p>

    <h2>Derecho a Presentar una Queja:</h2>
    <p>
      Si tiene preocupaciones sobre nuestro uso de sus datos personales, puede
      presentar una queja ante la autoridad de supervisión en su jurisdicción.
    </p>

    <h2>Consecuencias de no Proporcionar Datos Personales:</h2>
    <p>
      La provisión de los datos personales solicitados es parte de un requisito
      contractual con Dimitra. La falta de proporcionar los datos personales
      requeridos resultará en la pérdida de funcionalidad del software y una
      experiencia de usuario degradada.
    </p>

    <h2>
      Elaboración de perfiles personales y toma de decisiones automatizada:
    </h2>
    <p>
      Los datos personales no se utilizarán con fines de perfilado de usuarios
      ni para tomar decisiones automatizadas basadas en datos personales.
    </p>

    <h2>Para más información:</h2>
    <p>
      Para obtener más información, comuníquese con nuestro Oficial de
      Protección de Datos en
      <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>.
    </p>
  </body>
</html>
