<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dimitra Privacyverklaring</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
      }

      h1,
      h2 {
        color: #333;
      }

      p {
        margin-bottom: 15px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Dimitra Privacyverklaring</h1>

    <h2>Identiteit en Contactgegevens van de Organisatie:</h2>
    <p>
      Organisatie: Dimitra (BVI) Incorporated, Tortola, Britse Maagdeneilanden
      <br />
      Vertegenwoordiger: Peter Thorsteinson, Chief Data Protection Officer <br />
      Contact E-mail: <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>
    </p>

    <h2>
      Doel en Rechtsgrondslag voor de Verwerking van Persoonsgegevens door de Organisatie:
    </h2>
    <p>
      Dimitra (BVI) Incorporated verwerkt uw persoonsgegevens om uw ervaring met onze softwaretoepassingen te verbeteren en gepersonaliseerde diensten te leveren. Deze verwerking is gebaseerd op uw toestemming en is noodzakelijk voor de uitvoering van een overeenkomst met Dimitra waarbij u partij bent.
    </p>

    <h2>Legitieme Belangen van de Organisatie:</h2>
    <p>
      Onze legitieme belangen omvatten het verbeteren van onze diensten, het voorkomen van fraude en het waarborgen van netwerk- en informatiebeveiliging. Indien van toepassing, kunnen we ook gegevens verwerken voor de legitieme belangen van derden, zoals onze zakenpartners of overheden.
    </p>

    <h2>Ontvangers van de Gegevens van de Betrokkene:</h2>
    <p>Uw gegevens kunnen worden gedeeld met:</p>

    <ul>
      <li>
        Dienstverleners en partners die ons ondersteunen bij onze bedrijfsactiviteiten.
      </li>
      <li>Wettelijke autoriteiten wanneer dit wettelijk vereist is.</li>
    </ul>
    
    <h2>Overdracht van Gegevens van de Betrokkene naar Derde Landen:</h2>
    <p>
      Persoonsgegevens kunnen worden overgedragen naar landen buiten uw rechtsgebied. Wij zorgen ervoor dat dergelijke overdrachten onderworpen zijn aan passende waarborgen, zoals standaardcontractbepalingen volgens de relevante specificaties van de EU-commissie.
    </p>

    <h2>Bewaartermijn van Gegevens:</h2>
    <p>
      Uw gegevens worden bewaard zolang als nodig is om de in deze verklaring vermelde doeleinden te vervullen, of totdat u uw toestemming intrekt. De criteria voor het bepalen van de bewaartermijn omvatten de duur van uw relatie met ons en aanverwante wettelijke verplichtingen.
    </p>

    <h2>Rechten van de Betrokkene:</h2>
    <p>
      U heeft het recht om uw gegevens in te zien, te rectificeren, te wissen, de verwerking ervan te beperken, bezwaar te maken tegen verwerking, en om gegevensoverdraagbaarheid te vragen. U heeft ook het recht om niet onderworpen te worden aan geautomatiseerde besluitvorming op basis van uw persoonsgegevens.
    </p>

    <h2>Recht om Toestemming In te Trekken:</h2>
    <p>
      U kunt uw toestemming te allen tijde intrekken, zonder afbreuk te doen aan de rechtmatigheid van de verwerking op basis van toestemming vóór de intrekking.
    </p>

    <h2>Recht om een Klacht in te Dienen:</h2>
    <p>
      Als u zorgen heeft over ons gebruik van uw persoonsgegevens, kunt u een klacht indienen bij de toezichthoudende autoriteit in uw rechtsgebied.
    </p>

    <h2>Gevolgen van het Niet Verstrekken van Persoonsgegevens:</h2>
    <p>
      Het verstrekken van de gevraagde persoonsgegevens is onderdeel van een contractuele vereiste met Dimitra. Het niet verstrekken van de vereiste persoonsgegevens zal resulteren in verlies van softwarefunctionaliteit en een verminderd gebruiksgemak.
    </p>

    <h2>Persoonlijke Profilering en Geautomatiseerde Besluitvorming:</h2>
    <p>
      Persoonsgegevens zullen niet worden gebruikt voor profilering van gebruikers of voor het nemen van geautomatiseerde beslissingen op basis van persoonsgegevens.
    </p>

    <h2>Voor meer informatie:</h2>
    <p>
      Voor meer informatie kunt u contact opnemen met onze Data Protection Officer via <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>.
    </p>
  </body>
</html>
