<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso de Privacidade Dimitra</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
      }

      h1,
      h2 {
        color: #333;
      }

      p {
        margin-bottom: 15px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Aviso de Privacidade Dimitra</h1>

    <h2>Identidade e Detalhes de Contato da Organização:</h2>
    <p>
      Organização: Dimitra (BVI) Incorporated, Tortola, Ilhas Virgens Britânicas
      <br />
      Representante: Peter Thorsteinson, Diretor de Proteção de Dados <br />
      E-mail de Contato: <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>
    </p>

    <h2>
      Finalidade e Base Legal para o Processamento de Dados Pessoais pela Organização:
    </h2>
    <p>
      A Dimitra (BVI) Incorporated processa seus dados pessoais para melhorar sua
      experiência com nossos aplicativos de software e para fornecer serviços personalizados.
      Esse processamento é baseado no seu consentimento e é necessário para a
      execução de um contrato com a Dimitra ao qual você é parte.
    </p>

    <h2>Interesses Legítimos da Organização:</h2>
    <p>
      Nossos interesses legítimos incluem melhorar nossos serviços, prevenir fraudes
      e garantir a segurança da rede e da informação. Quando aplicável, também podemos
      processar dados para os interesses legítimos de terceiros, como nossos parceiros de negócios ou governos.
    </p>

    <h2>Destinatários dos Dados do Indivíduo:</h2>
    <p>Seus dados podem ser compartilhados com:</p>

    <ul>
      <li>
        Fornecedores de serviços e parceiros que auxiliam em nossas operações comerciais.
      </li>
      <li>Autoridades legais quando exigido por lei.</li>
    </ul>
    <h2>Transferência de Dados do Indivíduo para Terceiros Países:</h2>
    <p>
      Dados pessoais podem ser transferidos para países fora da sua jurisdição.
      Garantimos que essas transferências estejam sujeitas a salvaguardas apropriadas,
      como cláusulas contratuais padrão de acordo com especificações relevantes da Comissão da UE.
    </p>

    <h2>Período de Retenção dos Dados:</h2>
    <p>
      Seus dados são retidos pelo tempo necessário para cumprir os propósitos
      descritos neste aviso, ou até que você retire seu consentimento. Os critérios
      para determinar o período de retenção incluem a duração do seu
      relacionamento conosco e as obrigações legais associadas.
    </p>

    <h2>Direitos do Titular dos Dados:</h2>
    <p>
      Você tem o direito de acessar, retificar, apagar, restringir o processamento dos seus
      dados, opor-se ao processamento e solicitar a portabilidade dos dados. Você também
      tem o direito de não ser submetido a decisões automatizadas baseadas nos seus
      dados pessoais.
    </p>

    <h2>Direito de Retirar o Consentimento:</h2>
    <p>
      Você pode retirar seu consentimento a qualquer momento, sem afetar a
      legalidade do processamento com base no consentimento antes de sua retirada.
    </p>

    <h2>Direito de Apresentar uma Reclamação:</h2>
    <p>
      Se você tiver preocupações sobre o uso dos seus dados pessoais, poderá apresentar uma
      reclamação à autoridade supervisora da sua jurisdição.
    </p>

    <h2>Consequências de Não Fornecer Dados Pessoais:</h2>
    <p>
      O fornecimento dos dados pessoais solicitados é parte de um requisito contratual
      com a Dimitra. A não apresentação dos dados pessoais solicitados resultará na
      perda de funcionalidade do software e na degradação da experiência do usuário.
    </p>

    <h2>Perfil Pessoal e Decisões Automatizadas:</h2>
    <p>
      Dados pessoais não serão usados para fins de perfil de usuários ou
      para a tomada de decisões automatizadas com base em dados pessoais.
    </p>

    <h2>Para mais informações:</h2>
    <p>
      Para mais informações, entre em contato com nosso Diretor de Proteção de Dados em
      <a href="mailto:privacy@dimitra.io">privacy@dimitra.io</a>.
    </p>
  </body>
</html>
