<div class="main" style="padding: 5px">
  <h4>Hi <%= fullName %>,</h4>

  <p>
    Please enter your activation key to receive access to the app. Follow this
    simple 2-step process:
  </p>
  <ol>
    <li style="padding: 2px">
      Download the app from the app store: (link to the app store)
    </li>
    <li style="padding: 2px">
      Enter your activation key to get started:

      <div class="code-block" style="margin: 20px 0 0 0">
        Your activation code: <span id="act-code"> <%= activationKey%> </span>
      </div>
    </li>
  </ol>
  <p>
    We recommend you save this email for your future reference so you can easily
    access the activation details.
  </p>
</div>

<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  class="mcnTextBlock"
  style="min-width: 100%"
>
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px">
        <table
          align="left"
          border="0"
          cellpadding="0"
          cellspacing="0"
          style="max-width: 100%; min-width: 100%"
          width="100%"
          class="mcnTextContentContainer"
        >
          <tbody>
            <tr>
              <td
                valign="top"
                class="mcnTextContent"
                style="padding: 0px 18px 9px; line-height: 200%"
              >
                <div style="text-align: left">
                  <span style="color: #e31c23"></span
                  ><span
                    style="
                      font-family: arial, helvetica neue, helvetica, sans-serif;
                    "
                    ><span style="font-size: 20px">Team Dimitra</span></span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
