<!DOCTYPE html>
<html>
<head>
    <title>Livestock guru</title>
    <!--internal css-->
    <style>
        body {
            margin: 0px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a {
            font-family: Poppins-Regular;
            text-decoration: none;
        }

        @font-face {
            font-family: Poppins-Regular;
            src: url(<%= baseUrl +"/font/Poppins-Regular.ttf" %>);
        }

        @font-face {
            font-family: Poppins-Bold;
            src: url(<%= baseUrl +"/font/Poppins-Bold.ttf" %>);
        }

        @font-face {
            font-family: Poppins-SemiBold;
            src: url(<%= baseUrl +"/font/Poppins-SemiBold.ttf" %>);
        }
    </style>
    <!--internal css closed-->
</head>

<body>
 <!--Email Page start-->
    <div style="background-image: url(<%= baseUrl + '/images/pre-registration-bg-img.png' %>); background-color: #e5e5e5; background-size: cover; background-repeat: no-repeat; padding: 136px 0px 30px;
    width:100%;">
        <table style="margin: 0 auto;">
            <tr>
                <td>
                    <table style="background-color: #fff; width: 658px; margin:0 auto; border-radius: 10px;">
                        <tr>
                            <td style="text-align:center;">
                                <h2 style="font-family: Poppins-Regular; font-size: 22px; color: #404040; margin: 0px 0px;
                                padding: 30px 0px;">Thank you, <%=name%> </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                    style="margin: 0 auto; border-top: 1px dashed #C2C2C2; border-bottom: 1px dashed #C2C2C2; padding: 30px 0px 130px;">
                                    <tr>
                                        <td>
                                            <h2 style="font-size: 16px;
                                            color: #404040;
                                            width: 482px;
                                            font-weight: 100;
                                            margin:0px;">
                                                DIMITRA has received the request for Pre-Registration of your account
                                            </h2>
                                            <h2 style="font-size: 16px;
                                            color: #404040;
                                            width: 482px;
                                            font-weight: 100;
                                            margin: 12px auto;">
                                                You will soon receive the access to DIMITRA platform.</h2>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="margin: 0 auto; border-bottom: 1px dashed #C2C2C2; padding: 30px 0px;">
                                    <tr>
                                        <td>
                                            <h2 style="font-size: 16px;
                                            color: #404040;
                                            width: 482px;
                                            font-size: 14px;
                                            margin:0px;
                                            font-family: Poppins-Bold;">
                                                Regards,</h2>
                                            <p style="font-size: 14px;
                                                color: #404040;
                                                width: 482px;
                                                font-weight: 100;
                                                margin: 4px auto;">The DIMITRA Team</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 30px 0px;">
                                <h2 style="text-align: center;
                                color: #5E5E5E;
                                font-size: 12px;
                                margin: 0px;">
                                    Need help? visit the</h2>
                                <p style="text-align: center; color: #5E5E5E;
                                    font-size: 12px; font-family: Poppins-Regular; margin:0px;"><a href=""
                                        style="color:#2E81ED;">Help Center</a> or <a href=""
                                        style="color:#2E81ED;">Contact Us.</a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="text-align: center; margin: 0 auto; padding: 30px 0px;">
                        <tr>
                            <td>
                                <h2
                                    style="text-align: center; font-size: 12px; color:#5E5E5E; line-height: 17px; font-weight: 400;">
                                    Please do not reply to this email
                                    <br>
                                    <a href="" style="color:#2E81ED;"> www.DIMITRA.com</a> <br>
                                    View our <a href="" style="color:#2E81ED;">privacy policy</a>
                                </h2>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
<!--Email Page End-->

</body>
</html>