<table>
    <tbody class="mcnTextBlockOuter">
      <tr>
       <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
            <tbody>
              <tr>
                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 125%;">
                  <div style="text-align: left;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:20px">
                        नमस्ते <%= firstName %>,
                      </span><br><br>
                      <span style="font-size:15px">
                        <% if (!otpOnly) { %> तपाईं सुरु गर्न लगभग तयार हुनुहुन्छ। <% } %> कृपया आफ्नो इमेल ठेगाना प्रमाणित गर्न तलको एक-पटके पासकोड प्रयोग गर्नुहोस्:</span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        <%= otp %>
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        यो प्रमाणिकरण कोड ३० मिनेटमा समाप्त हुनेछ। यदि तपाईंलाई यो कोड लगइन गर्न समस्या भइरहेको छ भने कृपया हाम्रो समर्थनलाई सम्पर्क गर्नुहोस्।
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        प्रमाणीकरण कोड अनुरोध गर्नुभएन? यदि यो तपाईं हुनुहुन्नथ्यो भने, तपाईंको खातामा सम्झौता भएको हुन सक्छ र तपाईंले आफ्नो खाता सुरक्षित छ भनी सुनिश्चित गर्न केही कदम चाल्नुपर्छ। सुरु गर्न, अब आफ्नो पासवर्ड रिसेट गर्नुहोस्।
                      </span>
                    </span><br><br>


                  </div>
                </td>
              </tr>
             </tbody>
          </table>
        </td>
        </tr>
      </tbody>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
          <tr>
              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody><tr>

                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 200%;">

                              <div style="text-align: left;"><span style="color:#e31c23"></span><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:20px">टोली दिमित्रा</span></span></div>

                          </td>
                      </tr>
                  </tbody></table>
              </td>
          </tr>
      </tbody>
  </table>
