<table>
    <tbody class="mcnTextBlockOuter">
      <tr>
       <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
            <tbody>
              <tr>
                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 125%;">
                  <div style="text-align: left;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:20px">
                        γεια <%= firstName %>,
                      </span><br><br>
                      <span style="font-size:15px">
                        <% if (!otpOnly) { %> Είστε σχεδόν έτοιμοι να ξεκινήσετε. <% } %> Χρησιμοποιήστε τον κωδικό πρόσβασης μίας χρήσης παρακάτω για να επαληθεύσετε τη διεύθυνσή σας ηλεκτρονικού ταχυδρομείου:
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        <%= otp %>
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        Αυτός ο κωδικός επαλήθευσης θα λήξει σε 30 λεπτά. Εάν αντιμετωπίζετε προβλήματα με τη σύνδεση με αυτόν τον κωδικό, επικοινωνήστε με την υποστήριξή μας.
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        Δεν ζητήσατε κωδικό επαλήθευσης; Εάν δεν ήσασταν εσείς, ο λογαριασμός σας μπορεί να έχει παραβιαστεί και θα πρέπει να κάνετε μερικά βήματα για να βεβαιωθείτε ότι ο λογαριασμός σας είναι ασφαλής. Για να ξεκινήσετε, επαναφέρετε τον κωδικό πρόσβασής σας τώρα.
                      </span>
                    </span><br><br>


                  </div>
                </td>
              </tr>
             </tbody>
          </table>
        </td>
        </tr>
      </tbody>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
          <tr>
              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody><tr>

                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 200%;">

                              <div style="text-align: left;"><span style="color:#e31c23"></span><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:20px">Ομάδα Δήμητρα</span></span></div>

                          </td>
                      </tr>
                  </tbody></table>
              </td>
          </tr>
      </tbody>
  </table>
