<table>
    <tbody class="mcnTextBlockOuter">
      <tr>
       <td valign="top" class="mcnTextBlockInner" style="padding-top:20px;">
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
            <tbody>
              <tr>
                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 125%;">
                  <div style="text-align: left;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:20px">
                        ওহে <%= firstName %>,
                      </span><br><br>
                      <span style="font-size:15px">
                        <% if (!otpOnly) { %> আপনি শুরু করার জন্য প্রায় প্রস্তুত। <% } %> আপনার ইমেল ঠিকানা যাচাই করতে নিচের এক-কালীন পাসকোডটি ব্যবহার করুন:
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        <%= otp %>
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        এই যাচাইকরণ কোডের মেয়াদ 30 মিনিটের মধ্যে শেষ হয়ে যাবে। আপনি যদি এই কোড দিয়ে লগ ইন করতে সমস্যায় পড়েন তাহলে আমাদের সহায়তার সাথে যোগাযোগ করুন।
                      </span>
                    </span><br><br>

                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif">
                      <span style="font-size:15px">
                        একটি যাচাইকরণ কোডের অনুরোধ করেননি? যদি এটি আপনি না হন, তাহলে আপনার অ্যাকাউন্টে আপস করা হয়েছে এবং আপনার অ্যাকাউন্ট সুরক্ষিত তা নিশ্চিত করতে আপনাকে কয়েকটি পদক্ষেপ নিতে হবে৷ শুরু করতে, এখনই আপনার পাসওয়ার্ড রিসেট করুন।
                      </span>
                    </span><br><br>


                  </div>
                </td>
              </tr>
             </tbody>
          </table>
        </td>
        </tr>
      </tbody>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
          <tr>
              <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                      <tbody><tr>

                          <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; line-height: 200%;">

                              <div style="text-align: left;"><span style="color:#e31c23"></span><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="font-size:20px">দল দিমিত্রা</span></span></div>

                          </td>
                      </tr>
                  </tbody></table>
              </td>
          </tr>
      </tbody>
  </table>
